{% extends 'layout.html' %}

{% block titulo %}
Inicio de sesión.
{% endblock %}

{% block form %}
<form role="form" action="/login" method="POST">
	<div class="form-group">
		<label for="usuario">Nombre de Usuario:</label>
		<input type="text" name="usuario" id="usuario" class="form-control">
		<label for="password">Clave:</label>
		<input type="password" name="password" id="password" class="form-control">
	</div>
	<button class="btn btn-default">Enviar</button>
	<div class="form-group">
		<p><a href="/registro">Registrarse</a></p>
	</div>
	<div class="form-group">
		<p>Entrar con <a href="/auth/twitter">Twitter</a></p>
	</div>
</form>

{% endblock %}